/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v22-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v22-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v22-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v22-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nunito-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/nunito-sans-v15-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/nunito-sans-v15-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/nunito-sans-v15-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* nunito-sans-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/nunito-sans-v15-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 2020px;
  padding-left: 50px;
  padding-right: 50px;
  /* margin: 0 auto; */
}

.header {
  background-color: #f0c53e;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 208px;
    height: 83px;
    margin-top: 60px;
  }
}
.header-nav {
  display: flex;
  margin-top: 86px;
  gap: 80px;

  li {
    list-style: none;
    a {
      text-decoration: none;
      color: #252641;

      &:hover {
        transition: 0.3s;
        color: #ffffff;
      }
    }
  }
}
.header__btn {
  width: 334px;
  height: 80px;
  border-radius: 80px;
  margin-top: 63px;
  border: 2px solid #b25a59;
  background-color: #b25a59;

  &:hover {
    cursor: pointer;
    opacity: 60%;
  }

  a {
    width: 203px;
    height: 33px;
    font-family: Poppins;
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;

    color: #ffffff;
    text-decoration: none;
  }
}

.hero {
  display: flex;
}

.hero__title {
  width: 704px;
  height: 404px;
  gap: 106px;
}
.hero-life {
  display: flex;
  h2 {
    word-wrap: 681px;
    height: 148px;
    margin-top: 192px;
    font-family: Nunito Sans;
    font-size: 54px;
    font-weight: 800;
    line-height: 73.66px;
    color: #2c2d32;

    span {
      font-family: Nunito Sans;
      font-size: 54px;
      font-weight: 800;
      line-height: 73.66px;
      color: #b25a59;
    }
  }

  p {
    word-wrap: 523px;
    height: 76px;
    font-family: Nunito Sans;
    font-size: 24px;
    font-weight: 400;
    line-height: 38.4px;
    color: #464646;
  }
}

.hero__travel {
  width: 910px;
  height: 745px;
}

.hero-df {
}
.hero__btn {
}
.btn {
}

/* MAIN */

.check {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.check__title {
  h4 {
    width: 612px;
    height: 65px;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 700;
    line-height: 64.8px;
    color: #2f327d;

    span {
      font-family: Poppins;
      font-size: 36px;
      font-weight: 700;
      line-height: 64.8px;
      color: #b25a59;
    }

    p {
      width: 837px;
      height: 172px;
      font-family: Poppins;
      font-size: 24px;
      font-weight: 400;
      line-height: 43.2px;
      color: #2c2d32;
    }
  }
}
.check__images {
}
